@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p><b>Name: </b>@ViewData["Name"]</p>

<address>
    <strong>For more information: </strong>
    <a href="telmorvf@gmail.com">@ViewData["Name"]</a>
</address>